@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body {
  overflow-x: hidden;
  width: 100%;
  font-family: 'Merriweather', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  
  .btn-primary {
    @apply bg-bluePrimary  text-sm md:text-base md:px-8 px-4 md:py-3 py-2 rounded-full text-white active:scale-95 transition-all duration-500 hover:bg-blueDeep hover:text-white;
  }
  .anchor-custom {
    @apply hover:underline underline-offset-4 text-white text-base cursor-pointer;
  }

  .input-primary {
    @apply bg-grey px-6 py-2 focus:outline-none text-light_grey font-light rounded-md;
  }
  .input-secondary {
    @apply text-base rounded-lg border-[2px]  border-[#C1C1C1]  p-3  focus:outline-none w-full;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #212121;
}